body {
  margin: 0;
}

:root {
  --btn-carousel-size: 3rem;
}

.carousel {
  margin-bottom: 1rem;
  display: flex;
  overflow: hidden;
  width: 1512px;
  margin: auto;
  margin-bottom: 120px;
}

.box--cards {
  display: flex;
  align-items: center;
  width: calc(100% - 2 * var(--btn-carousel-size));
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.card {
  padding: 0.25rem;
  position: relative;
}

.card > img {
  display: block;
  width: 100%;
  cursor: pointer;
  /* aspect-ratio: 16 / 9; */
}

.btn-carousel {
  /* Next/Previous Button */
  margin: 0.25rem 0;
  width: var(--btn-carousel-size);
  background-color: #574fc6;
  color: white;
  font-size: 40px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.btn-carousel:hover {
  background-color: #5d5d5e;
}

.btn-carousel:active {
  background-color: #4b43bd;
}

.btn-generate {
  padding: 1.5em;
  display: block;
  width: 100%;
  background-color: lightgreen;
  cursor: pointer;
}

.btn-generate-list:active {
  background-color: rgba(255, 0, 255, 0.5);
}

.sr-only {
  /* Screen reader hidden checkbox */
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  /* added line start */
  white-space: nowrap;
  /* added line end */
  border: none;
}

.selected {
  /* Selected State of Checkbox */
  background-color: rgb(9, 215, 153) !important;
  color: black !important;
}

.form-groups {
  /* For Checkbox Container */
  margin-bottom: 6rem;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.2rem;
}

.form-groups > label {
  /* For each Checkbox Label */
  padding: 0.9rem;
  background-color: #574fc6;
  color: white;
  border-radius: 8px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-groups > label[for="group-19"] {
  display: none;
}
