.body-part-bttn {
  background: #574fc6;
  border-radius: 8px;
  width: 300px;
  height: 80px;
  margin: 10px;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  box-shadow: 4px 4px 2px rgb(134, 132, 132);
}

.body-part-bttn:hover {
  background-color: #555252;
  cursor: pointer;
}
