.exercise-header {
  margin: auto;
  background: #363232;
  border-radius: 8px;
  width: 455px;
  height: 75px;
  font-size: 32px;
}

.exercise-header-txt {
  position: relative;
  top: 20%;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: #ffffff;
}
