.form-muscle-groups {
  padding-inline: var(--pad-y);
}

/* For each Checkbox Label */
.form-muscle-groups > label {
  position: relative;
  box-shadow: none;
  transition: color 400ms ease-in-out, box-shadow 400ms ease-in-out;
  cursor: pointer;
}

.form-muscle-groups > label:hover {
  color: var(--c--accent-2);
  box-shadow: 0 0 10px 1px var(--c--accent-2);
}

.form-muscle-groups > label.selected:hover {
  color: var(--c--accent-1);
  box-shadow: 0 0 10px 1px var(--c--accent-1);
}

/* .form-muscle-groups > *:last-child {
  display: none;
} */

/* Selected State of Checkbox */
.form-muscle-groups > label.selected {
  background-color: var(--c--accent-2);
}
