#main-text {
  position: absolute;
  width: 1278px;
  height: 128px;
  left: calc(50% - 1278px / 2);
  top: 337px;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #000000;
}
