.report {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 3;
  width: 85vw;
  height: 100vh;
  transition: left 400ms ease-in-out;
}

.report[data-active="true"] {
  left: 0;
}

@supports (
  (-webkit-backdrop-filter: blur(1.25rem)) or (backdrop-filter: blur(1.25rem))
) {
  .report {
    -webkit-backdrop-filter: blur(1.55rem);
    backdrop-filter: blur(1.55rem);
  }
}

.btn-report {
  --pos: 2rem;
  padding-block: 1em;
  padding-inline: 2em;
  position: fixed;
  bottom: var(--pos);
  right: var(--pos);
  color: var(--c--white);
  background-image: var(--c--fancy-1);
  border: none;
  transition: all 300ms ease-in-out;
  z-index: 4;
  cursor: pointer;
}

.btn-report[data-visible-report] {
  background-image: var(--c--fancy-2);
}

.title {
  font-size: var(--f--xl);
}

.list-item {
  font-size: var(--f--m);
  line-height: 120%;
}
