.report {
  --pad-x: 3rem;
  --pad-y: 3rem;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 3;
  width: 85vw;
  height: 100vh;
  background-color: var(--c--report-1);
  transition: left 400ms ease-in-out;
  overflow: scroll;
}

.report[data-active="true"] {
  left: 0;
}

@supports (
  (-webkit-backdrop-filter: blur(1.25rem)) or (backdrop-filter: blur(1.25rem))
) {
  .report {
    background-color: var(--c--report-2);
    -webkit-backdrop-filter: blur(1.25rem);
    backdrop-filter: blur(1.25rem);
  }
}

.report h2 {
  border-bottom: 1px solid var(--c--accent-1);
}

.report ul {
  padding-left: 1.5rem;
}

.report > * {
  --pad-x: 0.625rem;
  --pad-y: 0.625rem;
}

.btn-report {
  --pos: 2rem;
  padding-block: 1.5em;
  padding-inline: 3em;
  position: fixed;
  bottom: var(--pos);
  right: var(--pos);
  color: var(--c--white);
  background-image: var(--c--fancy-1);
  border: none;
  box-shadow: none;
  transition: all 200ms ease-in-out;
  z-index: 4;
  cursor: pointer;
}

.btn-report:hover {
  box-shadow: 0 0 10px 5px var(--c--accent-5);
}

.btn-report[data-visible-report] {
  background-image: var(--c--fancy-2);
}

.btn-report[data-visible-report]:hover {
  box-shadow: 0 0 10px 5px var(--c--accent-1);
}
