#main-header {
  width: 1512px;
  height: 183px;
  top: 0px;
  background: #574fc6;
  margin: auto;
}

#header-text {
  position: relative;
  margin: auto;
  top: 46px;

  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 80px;
  text-align: center;

  color: #ffffff;
}

#main-text {
  position: absolute;
  width: 1278px;
  height: 128px;
  left: calc(50% - 1278px / 2);
  top: 337px;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #000000;
}
